<% include ../layout/head %>
<!-- Start your project here-->
<% include ../layout/header %>
<div class="container content">
	<h4 class="title">
		<i class="fa fa-pencil"></i> Adicionar Produto</h4>
	<div class="row">
		
			<form action="/produtos" method="POST" class="col-6">
				<!-- Material input name -->
				<div class="md-form ">
					<i class="fa fa-envelope prefix"></i>
					<input name="titulo" type="text" value="<%=produto.titulo%>" id="titulo" class="form-control form-control-sm">
					<label for="titulo">Título</label>
					<small class="red-text text-muted">
						<% if(erros){erros.forEach(function(erro){if(erro.param == 'titulo'){%>
							<%=erro.msg%>
						<%}})}%>
					</small>
				</div>
				
				<!-- Material input subject -->
				<div class="md-form form-sm">
					<i class="fa fa-tag prefix"></i>
					<input type="text" id="preco" value="<%=produto.preco%>" name="preco" class="form-control form-control-sm">
					<label for="preco">Preço</label>
					<small class="red-text text-muted">
						<% if(erros){erros.forEach(function(erro){if(erro.param == 'preco'){%>
							<%=erro.msg%>
						<%}})}%>
					</small>
				</div>
				
				<!-- Material textarea message -->
				<div class="md-form form-sm">
					<i class="fa fa-pencil prefix"></i>
					<textarea type="text" id="descricao" value="<%=produto.descricao%>" name="descricao" class="md-textarea form-control"></textarea>
					<label for="descricao">Descrição</label>
					<small class="red-text text-muted">
						<% if(erros){erros.forEach(function(erro){if(erro.param == 'descricao'){%>
							<%=erro.msg%>
						<%}})}%>
					</small>
				</div>
				
				<div class="text-center mt-4 mb-2">
					<button type="submit" class="btn btn-primary">Cadastrar
						<i class="fa fa-send ml-2"></i>
					</button>
				</div>
			</form>
			
		</div>
	</div>
	<!-- /Start your project here-->
	
	<% include ../layout/footer %>