<% include ../layout/head %>
<!-- Start your project here-->
<% include ../layout/header %>
<div class="container content">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item active" aria-current="page">Produtos</li>
		</ol>
	</nav>
	<div class="row">
		<div class="col">

			<div class="card">
				<div class="card-header">
					<h3>Lista de Produtos</h3>
				</div>
				<div class="card-body">
					
					<table class="table table-bordered table-hover ">
						<thead>
							<tr>
								<th>Id</th>
								<th>Título</th>
								<th>Descrição</th>
								<th>Preço</th>
							</tr>
						</thead>
						<tbody>
							<% lista.forEach(function(item){ %>
								
								<tr>
									<td>
										<%= item.id%>
									</td>
									<td>
										<%= item.titulo%>
									</td>
									<td>
										<%= item.descricao%>
									</td>
									<td>
										<%= item.preco%>
									</td>
								</tr>
							<%});%>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card">
				
				<div class="card-header">
					<h3>Promoções</h3>
				</div>
				<div class="card-body">
					
					<form action="/promocoes" method="post">
						<div class="form-group">
							<label>Mensgem da Promoção</label>
							<input type="text" class="form-control" name="msg">
							<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
						</div>
						<div>
							<select name="livro[id]" class="form-control form-control-lg">
								<% lista.forEach(function(item){ %>
									<option value="<%=item.id%>">
										<%=item.titulo%>
									</option>
								<% }); %>
							</select>
						</div>
						<button type="submit" class="btn btn-outline-secondary">
							Promoção relâmpago
						</button>
						
					</form>
				</div>
				<a href="/produtos/form" class="btn btn-outline-primary">
					Adicionar Produto
				</a>
			</div>
		</div>
	</div>
</div>
		
<% include ../layout/footer %>